.link_icons {
  height: 3rem;
  width: 3rem;
  font-size: 1.9rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  color: white;
  font-weight: 900;
  background-color: transparent;
  transition:cubic-bezier(0.23, 1, 0.320, 1);
}
.link_icons:hover {
  background-color: rgba(235, 236, 236, 0.596);
}
