.link_icons {
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1.6rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  color: white;
  font-weight: 900;
  background-color: transparent;
  
}

.link_icons:hover {
  background-color: rgba(235, 236, 236, 0.596);
}
